@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neela Demo";
  src: url("/public/Neela-Demo-Regular.otf") format("opentype");
}

body {
  
  font-family: "Neela Demo", sans-serif;
  background-color: #f1eddd;
  -webkit-font-smoothing: antialiased;
}
