@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neela Demo";
  src: url("/public/Neela-Demo-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Neela";
  src: url("/Neela-Demo-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-ExtraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FixelText";
  src: url("/FixelText-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

body {
  font-family: "FixelText", sans-serif;
  background-color: #f1eddd;
  -webkit-font-smoothing: antialiased;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.pulse-animation {
  animation: pulse 1s infinite;
}

html {
  scroll-behavior: smooth;
}

.stroke {
  -webkit-text-stroke: 1px black;
}

.brown-stroke {
  -webkit-text-stroke: 1px #320c0c;
}

.grain {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 300;
  transform: translateZ(0);
}

.grain:before {
  content: "";
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 9999;
  position: fixed;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
  opacity: 0.15;
  pointer-events: none;
  -webkit-animation: noise 1s steps(2) infinite;
  animation: noise 1s steps(2) infinite;
}

.caption {
  @apply border-2 border-[#6D5C55] rounded py-4 px-2 m-1 z-10 bg-[#F1EDDD] max-w-md;
}
